.pagination {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.pagination-button {
  background-color: #b7c5df;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  max-width: 40px;
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  outline: none;
}

.pagination-button:disabled {
  cursor: not-allowed;
}
