.list {
  width: 100%;
  position: relative;
  padding-top: 20px;
}

.users-list-block {
  position: relative;
  margin: 20px;
  width: 50%;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 40px 20px 20px 20px;
}
